.aboutus {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 20px;
    // justify-content: center;
}

.learnMoreButton {
    width: 10.625rem;
    height: 3.2rem;
    background-color: #0b9444;
    border-radius: 10px;
    color: white;
    border: none;
}

.font-12rem {
    font-size: 1.2rem;
}

.bold {
    font-weight: bold;
}

.learnMoreButton:hover {
    background-color: #097e3a;
}

@media (max-width: 768px) {

    .aboutus {
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        margin-bottom: 20px;
    }
}