
.destination-container {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    .flex-container {
        display: flex;
        justify-content: space-around;
        .destButton {
            width: 10.625rem;
            height: 3.2rem;
            background-color: #e0ece4;
            border-radius: 10px;
            color: #0b9444;
            border-color: #0b9444;
        }
        
        .destButton:hover {
            background-color: #92cda6;
        }
    }
}




@media (max-width: 768px) {

    .destButton {
        flex-direction: column;
        align-items: center;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }
    .destination-container {
        text-align: center;
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
}
