// .aboutus {
//     text-align: center;
//     max-width: 800px;
//     // justify-content: center;
// }

// .testimonials-section {
//     background-color: #fff;
//     padding: 50px 0;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .testimonial-image {
//     // flex: 1;
//     padding-left: 12%;
//     width: 40%;
// }

// .main-content {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-top: 35px;
// }

// .testimonial-text {
//     width: 40%;
// }

// @media (max-width: 768px) {

//     .main-content {
//         flex-direction: column;
//         align-items: center;
//         // justify-content: center;
//         // align-items: center;
//         // display: flex;
//     }

//     .carpool-image {
//         padding: 0;
//         margin-bottom: 20px;
//         width: 100%;
//     }
//     .carpool-text {
//         padding: 0;
//         text-align: left;
//         width: 100%;
//     }
// }

.testimonial-section {
    background-color: #fff;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-content {
    text-align: center;
    max-width: 800px;
}


.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.testimonial-image {
    // flex: 1;
    padding-left: 12%;
    width: 40%;
}

.testimonial-text {
    // flex: 1;
    // padding: 20px;
    width: 35%;
    // text-align: left;
}


@media (max-width: 768px) {
    .testimonial-content {
        padding: 0 20px;
    }

    .testimonial-image {
        padding: 0px;
        margin-bottom: 20px;
        width: 90vw;
        max-width: 90vw;
        height: auto;
    }

    .testimonial-image img {
        width: 90vw;
        height: auto;
    }

    .testimonial-text {
        // padding: 20px;
        text-align: left;
        width: 90vw;
    }
    
    .testimonial-container {
        flex-direction: column;
        align-items: center;
    }
}
