<!-- <section class="testimonials-section">
    <div class="aboutus">
        <h1 style="color: #0b9444;">Here what others have to say</h1>
    </div>
    <div class="main-content">
        <div class="testimonial-image">
            <img src="../../assets/images/carpool.png" alt="employee">
        </div>
        <div class="testimonial-text">
            
        </div>
    </div>
</section> -->

<div class="testimonial-section">
    <div class="testimonial-content">
        <!-- <h2 style="color: rgb(11, 148, 68);">Carpooling made simple</h2>
        <div>Swyng connects drivers and passengers travelling in the same direction.<br>Join the Community and enjoy
            pocket-friendly,safe,and reliable carpooling.</div>
        <p><a>Rider</a> | <a>Driver</a></p> -->
        <h1 style="color: #0b9444;">Here what others have to say</h1>
    </div>
    <div class="testimonial-container">
        <div class="testimonial-image">
            <img src="../../assets/images/carpool.png" alt="Testimonial Image">
        </div>
        <div class="testimonial-text">
            <!-- <p style="color: rgb(11, 148, 68);"><b>Travelling whenever,wherever</b></p>
            <p><span><b>Download the Swyng App and sign up</b></span><br>Our smart algorithm matches you with compatible
                carpoolers based on your location,destination, and schedule.</p>
            <p><span><b>Search and request for your ride</b></span><br>Browse through potential matches and choose the
                carpoolers you'd like to share a ride with.</p>
            <p><span><b>Get notified and enjoy the ride</b></span><br>Coordinate with your driver and enjoy your shared
                commute.</p> -->
            <h1 style="color: #0b9444;">John Doe,28</h1><br>
            <p><b>Download the Swyng App and sign up</b></p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellendus earum, inventore tempora
                eveniet laborum deserunt odio voluptates ullam culpa amet cum expedita dolorum minus non fugiat quidem
                voluptas similique!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, dolorum! Architecto, neque quae
                voluptate aspernatur quos ex eveniet nostrum eaque at voluptatibus tenetur odit dolor, nam, quisquam
                culpa veritatis ratione?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia illum libero possimus eum impedit
                consequuntur beatae, sed accusamus accusantium incidunt quae neque tenetur ullam ipsum sequi culpa?
                Culpa, aliquam asperiores.
            </p>
        </div>
    </div>
</div>