<div class="team-section">
    <h1 style="color: #0b9444;">Meet the team</h1><br/>
    <div class="team-container">
        <div class="team-image">
            <img src="../../assets/images/carpool.png" alt="team Image">
        </div>
        <div class="team-text">
            <h1 style="color: #0b9444;">Brian Bosho, CEO</h1><br>
            <p>
                Brian is an experienced entrepreneur with a background in electronics design and hardware engineering.
                He has developed numerous innovative products in the Kenyan informal sector, some of which were the
                first of their kind to be standardized by the Kenya Bureau of Standards. He also co- founded a company
                that deployed and maintained various infrastructure projects, including telecommunications
                infrastructure for Internet service providers. In his career, He held roles in project management where
                he successfully led teams to complete projects in the construction, water, and automotive industries.
                Brian has a proven track record of effective coordination with stakeholders to ensure the successful
                completion of projects.
            </p>
        </div>
    </div>
</div>